<!DOCTYPE html>
<html ng-app="proje">
<head>
	<title>proje</title>
	<meta charset="utf-8">
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-messages.js"></script>
	<script src="js/app.js"></script>	
	<script src="js/controllers/projeCtrl.js"></script>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
</head>
<body ng-controller="projeCtrl">

	<div class="jumbotron">
		<h3>{{app}}</h3>

		<h4>{{mensagem}}</h4>

		<div class="container">
			<div class="row">

				<div class="col-md-6 botao" ng-click="geraUrl()" ng-model="youtube">
					<button ng-disabled="youtube" class="btn btn-default">random</button>
				</div>

				<div class="col-md-6">
				</div>

			</div>

			<div class="row">
				<div class="col-md-4">
					
				</div>

				<div class="col-md-4" id="teste">
					<iframe id="linkYT" width="560" height="315" frameborder="0" allowfullscreen></iframe>
					<span ng-model="noMoreLinks"><h2 ng-hide="noMoreLinks">acabaram os links :-/</h2></span>
				</div>

				<div class="col-md-4">
					
				</div>
			</div>			
		</div>

	</div>




	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="lib/bootstrap/bootstrap.js"></script>
</body>
</html>